GITHUB_USERNAME=github_username
GITHUB_EMAIL=github@email.com
GITHUB_TOKEN=ghp_************************************
REDIS_PASSWORD=my_redis_password
MYSQL_ROOT_PASSWORD=my_mysql_root_password
MYSQL_DATABASE=my_mysql_database
MYSQL_USER=my_mysql_user
MYSQL_PASSWORD=my_mysql_user_password
