############################################################
# Example .env.
# This is an example .env file. Copy this file to .env and fill in the values.
############################################################

# Enviroments with the value of "_" will be replaced by generated secrets.

# Your GitHub username and email. These will be used to pull packages from GitHub
GITHUB_USERNAME=your-github-username
GITHUB_EMAIL=your@githubemail.local

# Path to a token that should have the scope read:packages.
GITHUB_TOKEN_FILE=github_token.secret

# PostgrlSQL credentials. The root password is used to create the database and users.
POSTGRESQL_ROOT_PASSWORD=_
POSTGRESQL_DATABASE_NAME=rubrion_db

# PostgreSQL users. This will be used by services to connect to the database.
POSTGRESQL_SYNC_USER=rubrion_sync_user
POSTGRESQL_SYNC_PASSWORD=_
POSTGRESQL_READ_USER=rubrion_read_user
POSTGRESQL_READ_PASSWORD=_

# NATS password. This will be used by services to connect to the Messanger.
NATS_SYNC_USER=rubrion_sync_user
NATS_SYNC_PASSWORD=_
NATS_READ_USER=rubrion_read_user
NATS_READ_PASSWORD=_

# Dragonflydb password. This will be used by services to connect to the Cache.
DRAGONFLY_ROOT_PASSWORD=_