############################################################
# Example .env.
# This is an example .env file. Copy this file to .env and fill in the values.
############################################################
# Your GitHub username and email. These will be used to pull packages from GitHub
GITHUB_USERNAME=your-github-username
GITHUB_EMAIL=your@githubemail.local

# This token should have the following scopes:
# - repo (to access private repositories)
GITHUB_TOKEN=ghp_************************************
